#### 1.Create a function that takes a number as an argument and returns True or False depending on whether the number is symmetrical or not. A number is symmetrical when it is the same as its reverse.
**Examples:**    
`is_symmetrical(7227) ➞ True`  
`is_symmetrical(12567) ➞ False`  
`is_symmetrical(44444444) ➞ True`  
`is_symmetrical(9939) ➞ False`  
`is_symmetrical(1112111) ➞ True`

In [1]:
def is_symmetrical(input_num):
    if str(input_num) == str(input_num)[::-1]:
        print(f'{input_num} ➞ {True}')
    else:
        print(f'{input_num} ➞ {False}')

is_symmetrical(7227)
is_symmetrical(12567)
is_symmetrical(44444444)
is_symmetrical(9939)
is_symmetrical(1112111)

7227 ➞ True
12567 ➞ False
44444444 ➞ True
9939 ➞ False
1112111 ➞ True

#### 2.Given a string of numbers separated by a comma and space, return the product of the numbers.
**Examples:**  
`multiply_nums("2, 3") ➞ 6`  
`multiply_nums("1, 2, 3, 4") ➞ 24`  
`multiply_nums("54, 75, 453, 0") ➞ 0`  
`multiply_nums("10, -2") ➞ -20`

In [2]:
def multiply_nums(input_string):
    output_string = input_string.replace(' ','').split(',')
    output_num = 1
    for i in output_string:
        output_num *= int(i)
    print(f'{input_string} ➞ {output_num}')
    
multiply_nums("2, 3")
multiply_nums("1, 2, 3, 4")
multiply_nums("54, 75, 453, 0")
multiply_nums("10, -2")

2, 3 ➞ 6
1, 2, 3, 4 ➞ 24
54, 75, 453, 0 ➞ 0
10, -2 ➞ -20

#### 3.Create a function that squares every digit of a number.
**Examples:**  
`square_digits(9119) ➞ 811181`  
`square_digits(2483) ➞ 416649`  
`square_digits(3212) ➞ 9414`  

**Notes:**   
The function receives an integer and must return an integer.

In [4]:
def square_digits(input_num):
    input_list = [str(int(i) ** 2) for i in str(input_num)]
    output_list = ''.join(input_list)
    print(f'{input_num} ➞ {int(output_list)}')

square_digits(9119)
square_digits(2483)
square_digits(3212)

9119 ➞ 811181
2483 ➞ 416649
3212 ➞ 9414

#### 4.Create a function that sorts a list and removes all duplicate items from it.
**Examples:**  
`setify([1, 3, 3, 5, 5]) ➞ [1, 3, 5]`  
`setify([4, 4, 4, 4]) ➞ [4]`  
`setify([5, 7, 8, 9, 10, 15]) ➞ [5, 7, 8, 9, 10, 15]`  
`setify([3, 3, 3, 2, 1]) ➞ [1, 2, 3]`

In [6]:
def setify(input_list):
    output_list = sorted(set(input_list))
    print(f'{input_list} ➞ {output_list}')
    
setify([1, 3, 3, 5, 5]) 
setify([4, 4, 4, 4])
setify([5, 7, 8, 9, 10, 15])
setify([3, 3, 3, 2, 1])

[1, 3, 3, 5, 5] ➞ [1, 3, 5]
[4, 4, 4, 4] ➞ [4]
[5, 7, 8, 9, 10, 15] ➞ [5, 7, 8, 9, 10, 15]
[3, 3, 3, 2, 1] ➞ [1, 2, 3]

#### 5.Create a function that returns the mean of all digits.
**Examples:**  
`mean(42) ➞ 3`  
`mean(12345) ➞ 3`  
`mean(666) ➞ 6`  

**Notes:**   
    1.The mean of all digits is the sum of digits / how many digits there are (e.g. mean of digits in 512 is (5+1+2)/3(number of digits) = 8/3=2).  
    2.The mean will always be an integer.

In [7]:
def mean(input_num):
    input_list = [int(i) for i in str(input_num)]
    output_num = sum(input_list)/len(str(input_num))
    print(f'Mean of {input_num}  ➞ {output_num:.0f}')
    
mean(42)
mean(12345)
mean(666)

Mean of 42  ➞ 3
Mean of 12345  ➞ 3
Mean of 666  ➞ 6